<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 20px 0;">
  <tr>
    <td align="center" style="font-size: 12px; color: #9D897D; text-align: center; line-height: 1.5;">
      <p style="font-size: 16px; color: #3A3131; line-height: 1.5; margin: 0 0 20px;">With thanks from team Invision</p>
    </td>
  </tr>
</table>