<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 20px 0;">
  <tr>
    <td align="center">
      <img src="https://www.rocketmakers.com/_next/static/media/logo.aa18c158.svg" alt="Rocketmakers" style="display: block; width: 56px; height: 66px; margin: 0 auto;" />
    </td>
  </tr>
</table>